.switch-button {
  display: block;
  position: relative;
  width: 74px;
  height: 36px;
  overflow: hidden;

  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .knobs {
    z-index: 2;
    &:before {
      content: "OFF";
      position: absolute;
      top: 4px;
      left: 42px;
      width: 20px;
      margin-left: 0;
      height: 10px;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      padding: 9px 4px;
      background-color: #f44336;
      border-radius: 50%;
      transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    }
  }

  .layer {
    width: 100%;
    background-color: #fcebeb;
    transition: 0.3s ease all;
    z-index: 1;
    border: 1px solid #f44336;
    border-radius: 100px;
    box-sizing: border-box;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    &:active + .knobs:before {
      width: 46px;
      border-radius: 100px;
      margin-left: -26px;
    }
    &:checked {
      &::before {
        content: none;
      }
      + .knobs:before {
        content: "ON";
        left: 4px;
        background-color: #03a9f4;
        margin-left: 0;
      }
      ~ .layer {
        background-color: #ebf7fc;
        border-color: #03a9f4;
      }
    }
  }
}

#rules {
  counter-reset: rule-number;
  .rule {
    padding: 15px;
    background-color: #fff;
    .rule-title {
      display: flex;
      align-items: center;
      counter-increment: rule-number;
      font-weight: bold;
      padding: 10px 0;
      position: relative;

      &::before {
        font-family: dashicons;
        content: "\f347";
        font-size: 1.4em;
        display: inline-block;
        vertical-align: middle;
      }
      .label {
        cursor: pointer;
        &::after {
          display: inline-block;
          margin-left: 3px;
          content: counter(rule-number);
        }
      }
      .text {
        cursor: pointer;
        display: block;
        margin-left: 20px;
        span {
          margin-right: 20px;
        }
      }
      .remove-rule {
        position: absolute;
        right: 20px;
        top: 20px;
        color: #cb0000;
        border: 1px solid;
        padding: 5px 20px;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: #ffdbdb;
        }
      }
    }
    .rule-content {
      display: none;
    }
    &:nth-child(2n + 1) {
      background-color: #e9e9e9;
    }
    &.open {
      .rule-title {
        &::before {
          content: "\f343";
        }
        .text {
          display: none;
        }
      }
      .rule-content {
        display: block;
      }
    }
  }
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #135e96;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.widefat td.column-entry_title {
  font-size: 14px;
}
#wp-admin-bar-root-default {
  display: none !important;
}
#wp-admin-bar-user-actions {
  li {
    margin-left: 16px !important;

    &:not(#wp-admin-bar-logout):not(#wp-admin-bar-switch-back) {
      display: none;
    }
  }
}
.user-rich-editing-wrap,
.user-syntax-highlighting-wrap,
.user-admin-color-wrap,
.user-comment-shortcuts-wrap,
.show-admin-bar.user-admin-bar-front-wrap,
.user-language-wrap,
#screen-meta-links,
#screen-meta {
  display: none !important;
}

img.company_logo {
  object-fit: contain;
  background: #fff;
  border: 1px solid #f3f3f3;
}
.sub_admin {
  .user-description-wrap,
  .user-email-wrap,
  .user-user-login-wrap {
    .description {
      display: none;
    }
  }
}
#footer-upgrade,
#footer-thankyou {
  display: none;
}
